
.navegador{
    display:flex;
    justify-content: space-around;
    height: 10vh; 
}
.navegador__logo{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.navegador__links{
    display: flex;
    gap: 40px; 
    align-items: center; 
}
.div{
    width: 142px;
    height: 32px;
    flex-shrink: 0;
}
.navegador__botoes{
    display: flex;
    gap: 30px;
    color: var(--cor-de-fundo);
    align-items: center;
        
}

.logo{
    width: 27px;
    height: 26.99px;
}

.optimuslogo{
    text-decoration: none;
    color: var(--cor-texto-logo);
    width: 500;
    font-size: 18px;
    
}

.links{
    text-decoration: none;
    color:var(--cor-fonte-cinza);
    width: 500;
    font-size: 16px;
}

.botoes1{
    text-decoration: none;
    color:var(--cor-fonte-cinza);
    padding: 10px;
    width: 500;
    font-size: 16px;  
}
.botoes2{
    text-decoration: none;
    padding: 18px;
    background-color: var(--cor-vermelho); 
    color: var(--cor-de-fundo);
    border-radius: 5px;
    width: 500;
    font-size: 16px;  
    
}


